extends ./layout.pug

block content
	section.pageContent

		h1.pageHeading #{ bookData.title }
		h2.pageHeading #{ bookData.author }, #{bookData.publishedYear}
		div.contentBody
			div.bookCard
				div.bookCard-row
					if bookData.coverURL
						div.bookCard-left
							img(src="" + bookData.coverURL)
					div.bookCard-right
						if pages
							p #{ bookData.pages } pages
						p #{ bookData.genres }
						p User reviews: #{ bookData.numberUserReviews }
						p Average ratings:
						br
						ul.ratingsList
							each category, key in bookData.averageRatings
								li.ratingsList-cat #{key} : #{ category }
						p.smallText Book information last modified: #{ lastUpdated } by 
							a(href="/users/" + bookData.lastUpdatedBy) #{ bookData.lastUpdatedBy }
						if currentUser
								a(href="/addcomment/" + bookData.title).button Add a Content Review
								a(href="/edit/" + bookData.title).button Edit Book Info

			
			each value in bookData.userReviews
				hr
				div.bookComment
					h2 Review by #{ value.username }:
					ul.ratingsList
						each category, key in value.ratings
							li.ratingsList-cat #{ key } : #{ category.rating }
								if category.comment
									img(src="/textbubble.png" class="js-textBubble")
									div.textBubble.textBubble_inactive
										div.textBubble-text #{ category.comment}
					if value.generalComments
						p.bookComment-userNotes Notes: #{ value.generalComments }
					if currentUser == value.username
						form(method="POST" action="/deletecomment/" + bookData.title + "/" + value.username)
							button(id="deleteComment").button Delete your review


