extends ./layout.pug

block content
	section.pageContent
		div.contentBody
			div.bookCard
				h1 #{ bookData.title}
				h2 #{ bookData.author}, #{bookData.publishedYear}
				div.bookCard-row
					div.bookCard-left
						img(src="" + bookData.coverURL)
					div.bookCard-right
						p #{ bookData.pages } pages
						p #{ bookData.genres }
						p User reviews: #{ bookData.numberUserReviews }
						p Average ratings:
						
						ul.ratingsList
							li.ratingsList-cat substances: #{ bookData.averageRatings.substances }
							li.ratingsList-cat sex: #{ bookData.averageRatings.sex }
							li.ratingsList-cat violence: #{ bookData.averageRatings.violence }
							li.ratingsList-cat language: #{ bookData.averageRatings.language }
							li.ratingsList-cat abuse: #{ bookData.averageRatings.abuse }
							li.ratingsList-cat hate: #{ bookData.averageRatings.hate }
							li.ratingsList-cat immorality: #{ bookData.averageRatings.immorality }
							li.ratingsList-cat occult: #{ bookData.averageRatings.occult }
			
			each value in bookData.userReviews
				hr
				div.bookComment
					h2 #{ value.username }
					ul.ratingsList
						li.ratingsList-cat substances: #{ value.ratings.substances.rating }
						li.ratingsList-cat sex: #{ value.ratings.sex.rating }
						li.ratingsList-cat violence: #{ value.ratings.violence.rating }
						li.ratingsList-cat language: #{ value.ratings.language.rating }
						li.ratingsList-cat abuse: #{ value.ratings.abuse.rating }
						li.ratingsList-cat hate: #{ value.ratings.hate.rating }
						li.ratingsList-cat immorality: #{ value.ratings.immorality.rating }
						li.ratingsList-cat occult: #{ value.ratings.occult.rating }
					p.bookComment-userNotes #{ value.generalComments }


