extends ./layout.pug

block content
	section.pageContent

		h1.pageHeading #{ bookData.title }
		h2.pageHeading #{ bookData.author }, #{bookData.publishedYear}
		div.contentBody
			div.bookCard
				div.bookCard-row
					div.bookCard-left
						if bookData.coverURL
							img(src="" + bookData.coverURL)
					div.bookCard-right
						p #{ bookData.pages } pages
						p #{ bookData.genres }
						p User reviews: #{ bookData.numberUserReviews }
						p Average ratings:
						br
						ul.ratingsList
							each category, key in bookData.averageRatings
								li.ratingsList-cat #{key} : #{ category }

			
			each value in bookData.userReviews
				hr
				div.bookComment
					h2 #{ value.username }
					ul.ratingsList
						each category, key in value.ratings
							li.ratingsList-cat #{ key } : #{ category.rating }
								if category.comment
									img(src="/textbubble.png" class="js-textBubble")
									div.textBubble.textBubble_inactive
										div.textBubble-text #{ category.comment}

					p.bookComment-userNotes #{ value.generalComments }


