extends ./layout.pug

block content
	section.pageContent
		h1.pageHeading #{ userData.username }'s Profile
		div.contentBody
			p Number of reviews: 
				span(id="js-reviewsMade") #{ userData.reviewsMade }
			p Member since: 
				span(id="js-registeredAt") #{ userData.registeredAt }
			p Currently Reading:  
				span(id="js-readingNow") #{ userData.readingNow }
			p Favorite Genres:  
				span(id="js-favoriteGenres") #{ userData.favoriteGenres }
			p Favorite Books:  
				span(id="js-favoriteBooks") #{ userData.favoriteBooks }
			p Recent reviews:
			ul
				each post in userData.recentReviews
					li.primaryText_center
			if loggedIn
				button.button Edit Profile Information
