extends ./layout.pug

block content
	section.pageContent
		h1.pageHeading #{ userData.username }'s Profile
		div.contentBody
			form(method="POST" action="/users/update/" + userData.username)
				p Number of reviews: #{ userData.reviewsMade }
				p Member since: #{ memberSince }
				p Currently Reading:  
					span(id="readingNow") #{ userData.readingNow }
				p Favorite Genres:  
					span(id="favoriteGenres") #{ userData.favoriteGenres }
				p Favorite Books:  
					span(id="favoriteBooks") #{ userData.favoriteBooks }
				p Reviews: 
				each post in userData.recentReviews
					a(href="/books/" + escape(post)) #{ post }

				br
				button(type="submit" id="saveProfileButton").button.inline.hidden.buttonSpacer Save
				if loggedIn
					button(id="editProfileButton").button.inline Edit Profile Information
				
				button(id="cancelProfileEdit").button.inline.hidden.buttonSpacer Cancel 
